body {
  background-color: #0d1013;
  color: #e8e4d4;
  font-family: Playfair Display, serif;
  margin: 2vh 2vw 2vmin;
  text-align: center;
  font-size: 4vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.intro {
  font-size: 9vw;
  text-transform: uppercase;
  font-family: Italiana, serif;
  margin-bottom: 6vh;
  margin-top: 0;
}

a {
  color: rgb(173, 193, 230);
  text-decoration: none;
  font-family: Playfair Display, serif;
}

a:hover {
  color: rgb(105, 143, 255);
}

h2 {
  font-size: 7vmin;
  font-weight: normal;
  margin: 0;
}
.connect {
  margin-top: 6vh;
}

p {
  font-family: Playfair Display, serif;
}

* {
  box-sizing: border-box;
  cursor: url("images/pointing.png"), auto;
}
