body {
    background-color: #0d1013;
    color: #e8e4d4;
    font-family: Italiana, serif;
}

.intro {
    font-size: 16vw;
    line-height: 14vw;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

#amph {
    font-family: 'Amphibian', serif;
    font-weight: 100;
}

.meet {
    text-transform: uppercase;
    text-align: center;
    font-size: 4vw;
    font-family: sans-serif;
    color: lightblue;
    font-weight: 350;
    margin: 20vh;
}

.footer {
    bottom: 0;
    text-align: center;
    height: 5vh;
    font-size: 2.1vw;
}

.link {
    position: relative;
    color: #e8e4d4;
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
}

.link:hover {
    color: #fe6610;
    text-decoration: underline;
}

.footer-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
}