body {
    background-color: #0d1013;
    color: #e8e4d4;
    font-family: Playfair Display, serif;
    margin: 2vh 2vw 2vmin;
    text-align: center;
    font-size: 4vmin;
    cursor: url("smiley_face.cur"), auto;
}

.intro {
    font-size: 16vw;
    line-height: 14vw;
    text-align: center;
    text-transform: uppercase;
    font-family: Italiana, serif;
    margin: 10vh auto 0;
}

#amph {
    font-family: 'Amphibian', serif;
    font-weight: 100;
}

.meet {
    text-transform: uppercase;
    font-size: 5vw;
    font-family: sans-serif;
    color: lightblue;
    font-weight: 450;
    margin: 30vmax auto;
}

.footer {
    bottom: 0;
    padding: 0 3%;
    text-align: center;
    height: 5vh;
    font-size: 2.5vmin;
}

.link {
    color: #e8e4d4;
    text-decoration: none;
    margin: auto 2vw;
    font-family: Playfair Display, serif;
}

.link:hover {
    color: #108bfe;
    text-decoration: underline;
}

h2 {
    margin-top: 15vmax;
    font-size: 8vmin;
    font-weight: normal;
}

.connect {
    margin: 0 auto 15vmax;
}

.links {
    font-size: 5vmin;
}

.about {
    margin: 9%;
}

p {
    font-family: Playfair Display, serif;
}